/* ==========================================================================
   MAIN NAVIGATION AND MENU STYLES
   ========================================================================== */

// ++ hide main-navigation wrapper (responsive first) +++++++++++++++++++++++++++++++++
.c-main-navigation {
  display: none;
}

// ++ show main navigation wrapper when the time is right ++++++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-navigation {
    /* DISPLAY FULL SIZE MENU */
    display: block;
    width: 100%;
    padding-left: calc(#{$logo-size} + 1rem);
    position: absolute;
    right: 0;
    top: 0;
  }
}



// ++ menu styles (top level) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-menu {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .c-main-menu > li {
    margin: 0;
    line-height: 1;
    position: relative;
    white-space: nowrap;
  }
  .c-main-menu > li > a {
    color: $color-redoxide;
    font-family: $font-secondary;
    display: block;
    font-size: 20px;
    margin: 0;
    padding: 41px 1rem;
    &:first-of-type > a {
      padding-left: 0;
    }
    &:last-of-type > a {
      padding-right: 0;
    }
  }
  .c-main-menu > li > a:hover {
    color: $color-redoxide;
  }
  .c-main-menu > .current-menu-item > a,
  .c-main-menu > .current-page-ancestor > a,
  .c-main-menu > .current_page_item > a,
  .c-main-menu > .current_page_parent > a,
  .c-main-menu > .current_page_ancestor > a {
    color: $color-redoxide;
  }
}
// END menu top level



// ++ menu style (drop down!) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-menu li:hover ul, 
  .c-main-menu li.focus ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .c-main-menu ul {
    background-color: #aaa;
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 180px;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
    z-index: z(dropdown);
  }
  .c-main-menu ul li {
    position: relative;
    max-height: 0;
    transition: max-height 300ms linear;
    overflow: hidden;
  }
  .c-main-menu li:hover ul li,
  .c-main-menu li.focus ul li {
    max-height: 140px;
  }
  .c-main-menu ul li a {
    color: #ffffff;
    font-size: 0.938rem;
    padding: 0.5rem 1rem;
    width: 100%;
    display: block;
    transition: $transition-ease;
  }
  .c-main-menu ul li a:hover,
  .c-main-menu ul .current-menu-item > a,
  .c-main-menu ul .current-menu-parent > a,
  .c-main-menu ul .current_page_item > a,
  .c-main-menu ul .current_page_parent > a,
  .c-main-menu ul .current_page_ancestor > a {
    color: #000000;
  }
}
// END drop down styling

.mega-sub-menu {
  box-shadow: 3px 8px 14px rgba(0,0,0,0.3) !important;
  img {
    border: 2px solid $color-offwhite;
    border-radius: 5px;
    width: 150px;
    margin-top: 20px;
    
  }
  p {
    color: $color-redoxide;
    
  }
  a:not(.stk-button) {
    transition: none;
    color: $color-redoxide;
    text-decoration: underline;
  }
  a.stk-button {
    transition: none;

    &:hover {
      background-color: $color-redoxide !important;
      color: $color-offwhite !important;
      span.stk-button__inner-text {
        color: $color-offwhite !important;
      
      }
    
    }
  }
  .mega-menu-item {
    // a {
    //   color: $color-offwhite !important;
      
    // }
  }
}

body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
  text-transform:  none;
  font-size: 18px;
  font-family: $font-secondary;
  
}

body #mega-menu-wrap-main-menu #mega-menu-main-menu p {
  font-size: 15px;
}

body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link {
  font-size: 20px;
  font-weight: 400 !important;
  &:hover {
    font-weight: 400  !important;
  }
}
body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
  font-weight: 400;
}

body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link {
  font-size: 20px;
  font-weight: 400 !important;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease; // Add transition effects

  &:hover {

    font-weight: 400  !important;

    &:before {
      width: 100%; // Full width underline on hover
    }
  }

  &:before {
    content: "" !important;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: $color-brown-dark;
    transition: width 0.3s ease;
    transform: translateX(-50%);
  }
}

body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link, body #mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-current-page-ancestor > a.mega-menu-link{
  color: $color-brown-dark !important; // Change color for current menu item

  font-weight: 700; // Make it bold

  &:before {
    content: "" !important;
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 3px;
    background: $color-brown-dark;
    transition: width 0.3s ease;
    transform: translateX(-50%);
  }
  &:hover::before {
    width: 100%; // Full width underline on hover
  }
}