/* ==========================================================================
   MISC UTILITIES
   ========================================================================== */

.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}

.u-large-text, .is-style-large-text {
  font-size: 1.625rem;
}

.u-flex {
  display: flex;
}
.u-block {
  display: block;
}


.u-text-center {
  text-align: center;
}

.u-eyebrow {
  font-size: clamped(20px, 25px);
  letter-spacing: 5.7px;
}

.u-eyebrow-interior {
  font-size: clamped(18px, 20px);
  letter-spacing: 3px;

}

.u-eyebrow-small {
  font-size: clamped(16px, 18px);
  letter-spacing: 4.2px;

}

// ++ media or embed aspect ratio +++++++++++++++++++++++++++++++++
.u-aspect-16x9 {
  padding-bottom: 56.25%; /* (9 / 16 = 0.5625) */
}


// ++ float orphan fix trick +++++++++++++++++++++++++++++++++
.u-orphan-fix {
  overflow: hidden;
  width: auto;
}

.u-2col {
  @media(width >= $bp-medium) {
    column-count: 2;
    gap: 50px;
  } 
}

// ++ visibility classes ++++++++++++++++++++++++++++++++++++
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-visually-hidden-focusable:active,
.u-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
